<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/styles.css" rel="stylesheet">
    <link href="/CSS/usuarioStyles.css" rel="stylesheet">
    <link href="/CSS/reportesStyles.css" rel="stylesheet">
    <link href="/CSS/calendarioStyles.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>{{title}}</title>
</head>

<body>
    {{> sidebar}} <!-- Partial de ejemplo -->
    {{{body}}} <!-- Aquí se insertará el contenido de la vista -->

    <!-- Scripts de Bootstrap -->

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
    var ctxLine = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctxLine, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            datasets: [{
                label: 'Alcaldía de Medellín',
                data: [3, 2, 2, 1, 5],
                borderColor: 'orange',
                fill: false
            }, {
                label: 'EPM',
                data: [1, 3, 2, 5, 4],
                borderColor: 'blue',
                fill: false
            }, {
                label: 'Grupo Nutresa',
                data: [2, 3, 4, 2, 1],
                borderColor: 'red',
                fill: false
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });

    var ctxDoughnut = document.getElementById('doughnutChart').getContext('2d');
    var doughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            labels: ['Pausadas', 'Realizadas', 'En Proceso'],
            datasets: [{
                data: [10, 20, 30],
                backgroundColor: ['#d35400', '#e74c3c', '#f39c12']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>

</html>