<div class="general">
    <div class="content">
        <div class="d-flex justify-content-evenly mt-5">
            <div class="calendar-container">
                <div class="calendar-header">
                    <i class="fas fa-bars"></i>
                    <span>Agosto 2024 <i class="fas fa-caret-down"></i></span>
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="calendar-body">
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                </div>
            </div>
            <div class="calendar-container">
                <div class="calendar-header">
                    <i class="fas fa-bars"></i>
                    <span>Octubre 2024 <i class="fas fa-caret-down"></i></span>
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="calendar-body">
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                </div>

            </div>
            <div class="calendar-container">
                <div class="calendar-header">
                    <i class="fas fa-bars"></i>
                    <span>Noviembre 2024 <i class="fas fa-caret-down"></i></span>
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="calendar-body">
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                    <button class="event-button">
                        <span>Add new event</span>
                        <span>SAVE</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="calendar container mt-5">
            <h4 class="title mb-4 fw-bold">Calendario Rutas</h4>
            <div class="header">
                <a id="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <h4 id="monthAndYear"></h4>
                <a id="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
            <div class="days">
                <div class="day">Dom</div>
                <div class="day">Lun</div>
                <div class="day">Mar</div>
                <div class="day">Mié</div>
                <div class="day">Jue</div>
                <div class="day">Vie</div>
                <div class="day">Sáb</div>
            </div>
            <div class="dates" id="dates"></div>
        </div>
    </div>
</div>

<script src="JS/calendario.js"></script>