<div class="header">
</div>
<div class="login-container">
    <img alt="Logo" height="100" src="/IMG/logoEmpresa.jpg" width="100" />
    <form id="loginForm">
        <div class="mb-3">
            <input class="form-control" placeholder="Usuario" id="usuario" type="text" />
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Contraseña" id="contrasena" type="password" />
        </div>
        <button class="btn" type="submit" style="background-color: #e74c3c; color:white">
            Iniciar Sesion
        </button>
        <button class="btn" type="submit" id="recoverPasswordButton" style="background-color: #e74c3c; color:white">
            Recuperar contraseña
        </button>
    </form>
</div>
<div class="footer">
    leyendo distintos textos del latín, descubrió la fuente indudable. Lorem ipsum la fuente indudable. Lorem ipsum
</div>
<script src="JS/login.js"></script>