<div class="general">
    <div class="container my-5">
        <div class="report-section">
            <h5 class="mb-4 ms-3">
                Generar Reporte
            </h5>
            <form>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="client">
                            Cliente*
                        </label>
                        <select class="form-select" id="route">
                            <option selected="">
                                Select
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="startDate">
                            Fecha inicio*
                        </label>
                        <input class="form-control" id="startDate" type="date" value="2021-12-24" />
                    </div>
                    <div class="col">
                        <label class="form-label" for="endDate">
                            Fecha inicio*
                        </label>
                        <input class="form-control" id="endDate" type="date" value="2021-12-24" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="driver">
                            Conductor
                        </label>
                        <select class="form-select" id="route">
                            <option selected="">
                                Select
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="route">
                            Estado
                        </label>
                        <select class="form-select" id="route">
                            <option selected="">
                                Select
                            </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn-custom" type="button">
                        Generar vista previa
                    </button>
                    <button class="btn-custom" type="button">
                        Reporte PDF
                    </button>
                    <button class="btn-custom" type="button">
                        Reporte EXCEL
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="preview-section">
        <h5 class="mb-4 ms-3">
            Vista Previa
        </h5>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Activo desde
                    </th>
                    <th>
                        Documento Identificación
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Ubicación
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Jerry Mattei
                    </td>
                    <td>
                        19 Mayo, 2021 : 10:10 AM
                    </td>
                    <td>
                        1234567
                    </td>
                    <td>
                        251-661-5362
                    </td>
                    <td>
                        New York
                    </td>
                </tr>
                <tr>
                    <td>
                        Elianora Vasilov
                    </td>
                    <td>
                        18 Mayo, 2021 : 3:12 PM
                    </td>
                    <td>
                        4567672
                    </td>
                    <td>
                        171-534-1262
                    </td>
                    <td>
                        Ontario
                    </td>
                </tr>
                <tr>
                    <td>
                        Jerry Mattei
                    </td>
                    <td>
                        19 Mayo, 2021 : 10:10 AM
                    </td>
                    <td>
                        1234567
                    </td>
                    <td>
                        251-661-5362
                    </td>
                    <td>
                        New York
                    </td>
                </tr>
                <tr>
                    <td>
                        Alvis Daen
                    </td>
                    <td>
                        18 Mayo, 2021 : 2:15 PM
                    </td>
                    <td>
                        789675
                    </td>
                    <td>
                        974-661-5110
                    </td>
                    <td>
                        Milan
                    </td>
                </tr>
                <tr>
                    <td>
                        Elianora Vasilov
                    </td>
                    <td>
                        18 Mayo, 2021 : 3:12 PM
                    </td>
                    <td>
                        4567672
                    </td>
                    <td>
                        171-534-1262
                    </td>
                    <td>
                        Ontario
                    </td>
                </tr>
                <tr>
                    <td>
                        Lissa Shipsey
                    </td>
                    <td>
                        23 Abril, 2021 : 1:15 PM
                    </td>
                    <td>
                        7897878
                    </td>
                    <td>
                        541-661-3042
                    </td>
                    <td>
                        San Francisco
                    </td>
                </tr>
                <tr>
                    <td>
                        Lissa Shipsey
                    </td>
                    <td>
                        23 Abril, 2021 : 1:15 PM
                    </td>
                    <td>
                        7897878
                    </td>
                    <td>
                        541-661-3042
                    </td>
                    <td>
                        San Francisco
                    </td>
                </tr>
            </tbody>
        </table>
    </div>