<div class="general">
    <div class="main-content my-3">
        <div class="user-details col-md-4">
            <div class="user-profile ms-5">
                <img alt="User Image" height="100"
                    src="https://storage.googleapis.com/a1aa/image/rxVrXWMEJU40AxK3MiehJFaeUpLv3IVbe0BAq5mTOLVhnqVnA.jpg"
                    width="100" />
                <h3 style="font-weight: bold;">
                    Estefano Guzman Posada
                </h3>
                <h4>
                    Administrador
                </h4>
                <h5>
                    CC 156756756746
                </h5>
            </div>
        </div>
        <div class="container col-md-4">
            <div class="row col-md-6 offset-md-4">
                <button type="button" class="btn btn-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                    Crear Usuario
                </button>
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container p-3">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="nombre" class="form-label">Nombres*</label>
                                            <input type="text" class="form-control" id="nombre" placeholder="John">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="apellidos" class="form-label">Apellido Paterno*</label>
                                            <input type="text" class="form-control" id="apellidos" placeholder="Doe">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="apellidos" class="form-label">Apellido Materno*</label>
                                            <input type="text" class="form-control" id="apellidos" placeholder="Doe">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="documento" class="form-label">Documento Identidad*</label>
                                            <select class="form-select" id="documento">
                                                <option selected>Select</option>
                                                <!-- Add other document types as needed -->
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="numero-id" class="form-label">Numero ID*</label>
                                            <input type="email" class="form-control" id="numero-id"
                                                placeholder="353543534">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="genero" class="form-label">Género</label>
                                            <select class="form-select" id="genero">
                                                <option selected>Select</option>
                                                <!-- Add other genders as needed -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="datos" class="form-label">Fecha y hora de nacimiento</label>
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <label for="documento" class="form-label">Pais*</label>
                                                <select class="form-select" id="documento">
                                                    <option selected>Select</option>
                                                    <!-- Add other document types as needed -->
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="documento" class="form-label">Departamento*</label>
                                                <select class="form-select" id="documento">
                                                    <option selected>Select</option>
                                                    <!-- Add other document types as needed -->
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="genero" class="form-label">Ciudad*</label>
                                                <select class="form-select" id="genero">
                                                    <option selected>Select</option>
                                                    <!-- Add other genders as needed -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="nacimiento">Fecha de nacimiento</label>
                                            <input type="date" id="nacimiento" name="nacimiento" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="documento" class="form-label">Genero*</label>
                                            <select class="form-select" id="">
                                                <option selected>Select</option>
                                                <!-- Add other document types as needed -->
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="numero-id" class="form-label">N° Telefonico*</label>
                                            <input type="phone" class="form-control" id="numero-id"
                                                placeholder="353543534">
                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <label for="direccion" class="form-label">Dirección</label>
                                            <input type="text" class="form-control" id="direccion"
                                                placeholder="calle # 154 - 45 int">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="row col-md-6">
                                            <div class="mb-3">
                                                <label for="usuario" class="form-label">Usuario*</label>
                                                <input type="text" class="form-control" id="usuario"
                                                    placeholder="amercado">
                                            </div>
                                            <div class="mb-3">
                                                <label for="contraseña" class="form-label">Contraseña*</label>
                                                <input type="text" class="form-control" id="usuario"
                                                    placeholder="amercado">
                                            </div>
                                            <div class="mb-3">
                                                <label for="rol" class="form-label">Rol</label>
                                                <select class="form-select" id="rol">
                                                    <option selected>Select</option>
                                                    <!-- Add other roles as needed -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row col-md-6">
                                            <div class="d-flex align-items-center justify-content-center mt-3">
                                                <img alt="User Image" height="200" width="200"
                                                    src="https://storage.googleapis.com/a1aa/image/rxVrXWMEJU40AxK3MiehJFaeUpLv3IVbe0BAq5mTOLVhnqVnA.jpg" />
                                            </div>
                                            <div class="mb-3 text-center">
                                                <button type="file" class="btn btn-outline-secondary">Inserte
                                                    Imagen</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox bg-danger" id="confidencialidad">
                                        <label class="form-check-label" for="confidencialidad">
                                            Acepta acuerdo de Confidencialidad
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-start">
                                <button type="button" id="Submit" class="btn btn-primary px-5"
                                    style="background-color: #e74c3c;">Agregar</button>
                                <button type="button" class="btn px-5" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-1 my-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Editar Usuario
                </button>
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">

                                <button type="button" id="Sybmit" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                    Eliminar Usuario
                </button>
                <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center">

            <div class="col-md-8">
                <div class="card-custom" style="margin-bottom: 100px;">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="title">Usuarios Registrados</span>
                        <i class="fas fa-users icon"></i>
                    </div>
                    <div class="value" id="dato1"></div>
                </div>
                <div class="card-custom">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="title">Usuarios Activos</span>
                        <i class="fas fa-user-clock icon"></i>
                    </div>
                    <div class="value" id="dato2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2 px-3 rounded-4">
        <div class="user-table mx-3">
            <div>
                <h4 class="ms-5 fw-bold">Usuarios</h4>
                <div class="search-bar me-3" style="align-items: center;">
                    <input placeholder="francisco" type="text" id="Buscar" style="margin-right:10px" />
                    <a><i class="fa fa-search fa-1x" aria-hidden="true"></i></a>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Rol
                        </th>
                        <th>
                            Documento Identificación
                        </th>
                        <th>
                            Registrado en
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            usuario
                        </th>

                    </tr>
                </thead>
                <tbody id="dato5">
                </tbody>
            </table>
            <div class="pagination">
                <div class="page-item">
                    <a href="#">
                        1
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        2
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        3
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        4
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        5
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        ...
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        100
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/JS/usuario.js"></script>