<div class="general">
    <div class="main-content my-3">
        <div class="user-details col-md-4">
            <div class="user-profile ms-5">
                <img alt="User Image" height="100"
                    src="https://storage.googleapis.com/a1aa/image/rxVrXWMEJU40AxK3MiehJFaeUpLv3IVbe0BAq5mTOLVhnqVnA.jpg"
                    width="100" />
                <h3 style="font-weight: bold;">
                    Estefano Guzman Posada
                </h3>
                <h4>
                    Administrador
                </h4>
                <h5>
                    CC 156756756746
                </h5>
            </div>
        </div>
        <div class="container col-md-4">
            <div class="row col-md-6 offset-md-4">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                    Crear Usuario
                </button>
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn my-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Editar Usuario
                </button>

                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                    Eliminar Usuario
                </button>

                <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class=" col-md-6 offset-md-4">
                    <div class="card-custom mt-4" style="margin-bottom: 100px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="title">Usuarios Registrados</span>
                            <i class="fas fa-users icon"></i>
                        </div>
                        <div class="value" id="dato1"></div>
                    </div>
                    <div class="card-custom">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="title">Usuarios Activos</span>
                            <i class="fas fa-user-clock icon"></i>
                        </div>
                        <div class="value" id="dato2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2 px-3 rounded-4">
        <div class="user-table mx-3">
            <div>
                <h3 class="ms-5">Usuarios</h3>
                <div class="search-bar me-3" style="align-items: center;">
                    <input placeholder="francisco" type="text" id="Buscar" style="margin-right:10px" />
                    <a><i class="fa fa-search fa-1x" aria-hidden="true"></i></a>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Registrado en
                        </th>
                        <th>
                            Documento Identificación
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Ciudad Residencia
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Jerry Mattedi
                        </td>
                        <td>
                            19 Mayo, 2021 10:10 AM
                        </td>
                        <td>
                            1234567
                        </td>
                        <td>
                            251-661-5362
                        </td>
                        <td>
                            New York
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Eliano Vasilov
                        </td>
                        <td>
                            18 Mayo, 2021 3:12 PM
                        </td>
                        <td>
                            45675672
                        </td>
                        <td>
                            171-534-1262
                        </td>
                        <td>
                            Ontario
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jerry Mattedi
                        </td>
                        <td>
                            19 Mayo, 2021 10:10 AM
                        </td>
                        <td>
                            1234567
                        </td>
                        <td>
                            251-661-5362
                        </td>
                        <td>
                            New York
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alvis Dean
                        </td>
                        <td>
                            17 Mayo, 2021 2:15 PM
                        </td>
                        <td>
                            7895675
                        </td>
                        <td>
                            974-661-5110
                        </td>
                        <td>
                            Milan
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Eliano Vasilov
                        </td>
                        <td>
                            18 Mayo, 2021 3:12 PM
                        </td>
                        <td>
                            45675672
                        </td>
                        <td>
                            171-534-1262
                        </td>
                        <td>
                            Ontario
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lisa Shipsey
                        </td>
                        <td>
                            23 Abril, 2021 3:21 PM
                        </td>
                        <td>
                            7897878
                        </td>
                        <td>
                            541-661-3042
                        </td>
                        <td>
                            San Francisco
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lisa Shipsey
                        </td>
                        <td>
                            23 Abril, 2021 1:15 PM
                        </td>
                        <td>
                            7897878
                        </td>
                        <td>
                            541-661-3042
                        </td>
                        <td>
                            San Francisco
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <div class="page-item">
                    <a href="#">
                        1
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        2
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        3
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        4
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        5
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        ...
                    </a>
                </div>
                <div class="page-item">
                    <a href="#">
                        100
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/JS/usuario.js"></script>