<div class="general">
    <div class="main-content">
        <div class="user-details col-md-4">
            <div class="user-profile">
                <img alt="User Image" height="100"
                    src="https://storage.googleapis.com/a1aa/image/rxVrXWMEJU40AxK3MiehJFaeUpLv3IVbe0BAq5mTOLVhnqVnA.jpg"
                    width="100" />
                <h3 style="font-weight: bold;">
                    Estefano Guzman Posada
                </h3>
                <h4>
                    Administrador
                </h4>
                <h5>
                    CC 156756756746
                </h5>
            </div>
        </div>
        <div class="container col-md-4">
            <div class="row">
                <button class="mb-4 mt-5 ">
                    Crear Usuario
                </button>
                <button class="my-4">
                    Editar Usuario
                </button>
                <button class="my-4">
                    Eliminar Usuario
                </button>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-4">
                    <div class="card-custom p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="title">Usuarios Registrados</span>
                            <i class="fas fa-users icon"></i>
                        </div>
                        <div class="value">125</div>
                    </div>
                    <div class="card-custom mt-5 px-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="title">Usuarios Activos</span>
                            <i class="fas fa-user-clock icon"></i>
                        </div>
                        <div class="value">15</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-table">
        <div class="search-bar">
            <input placeholder="francisco" type="text" />
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Activo desde
                    </th>
                    <th>
                        Documento Identificación
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Ubicación
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Jerry Mattedi
                    </td>
                    <td>
                        19 Mayo, 2021 10:10 AM
                    </td>
                    <td>
                        1234567
                    </td>
                    <td>
                        251-661-5362
                    </td>
                    <td>
                        New York
                    </td>
                </tr>
                <tr>
                    <td>
                        Eliano Vasilov
                    </td>
                    <td>
                        18 Mayo, 2021 3:12 PM
                    </td>
                    <td>
                        45675672
                    </td>
                    <td>
                        171-534-1262
                    </td>
                    <td>
                        Ontario
                    </td>
                </tr>
                <tr>
                    <td>
                        Jerry Mattedi
                    </td>
                    <td>
                        19 Mayo, 2021 10:10 AM
                    </td>
                    <td>
                        1234567
                    </td>
                    <td>
                        251-661-5362
                    </td>
                    <td>
                        New York
                    </td>
                </tr>
                <tr>
                    <td>
                        Alvis Dean
                    </td>
                    <td>
                        17 Mayo, 2021 2:15 PM
                    </td>
                    <td>
                        7895675
                    </td>
                    <td>
                        974-661-5110
                    </td>
                    <td>
                        Milan
                    </td>
                </tr>
                <tr>
                    <td>
                        Eliano Vasilov
                    </td>
                    <td>
                        18 Mayo, 2021 3:12 PM
                    </td>
                    <td>
                        45675672
                    </td>
                    <td>
                        171-534-1262
                    </td>
                    <td>
                        Ontario
                    </td>
                </tr>
                <tr>
                    <td>
                        Lisa Shipsey
                    </td>
                    <td>
                        23 Abril, 2021 3:21 PM
                    </td>
                    <td>
                        7897878
                    </td>
                    <td>
                        541-661-3042
                    </td>
                    <td>
                        San Francisco
                    </td>
                </tr>
                <tr>
                    <td>
                        Lisa Shipsey
                    </td>
                    <td>
                        23 Abril, 2021 1:15 PM
                    </td>
                    <td>
                        7897878
                    </td>
                    <td>
                        541-661-3042
                    </td>
                    <td>
                        San Francisco
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="page-item">
                <a href="#">
                    1
                </a>
            </div>
            <div class="page-item">
                <a href="#">
                    2
                </a>
            </div>
            <div class="page-item">
                <a href="#">
                    3
                </a>
            </div>
            <div class="page-item">
                <a href="#">
                    4
                </a>
            </div>
            <div class="page-item">
                <a href="#">
                    5
                </a>
            </div>
            <div class="page-item">
                <a href="#">
                    ...
                </a>
            </div>
            <div class="page-item">
                <a href="#">
                    100
                </a>
            </div>
        </div>
    </div>
</div>