.calendar-container {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
.calendar-header {
    background-color: #424242;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-header i {
    font-size: 1.2em;
}
.calendar-body {
    padding: 10px;
}
.event-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar {
    background: #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.2);
    padding: 10px 50px;

}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e74c3c;
    color: aliceblue;
}

.calendar .header a{
    padding-left: 30px;
    padding-right: 30px;  
}

.calendar .header a:hover{
    background-color: white;
    border-radius: 7px; 
}

#monthAndYear {
    margin: 0;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #e68964;
    color: #fff;
}



.day {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    
}

.date {

    padding: 40px;
    cursor: pointer;
    transition: background 0.3s;
}

.date:hover {
    background: #c4685e;
}

.today {
    background: #e74c3c; /* Color azul */
    color: white; /* Texto blanco */
}