

.main-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.main-content .user-details {
    width: 30%;
    
    border-radius: 30px;
    border: 2px grey;
    text-align: center;
}


.main-content .user-details img {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.main-content .row  .btn {
    width: 100%;
    margin: 10px 0;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    padding: 0px -20px;
}

.main-content .row .btn:hover {
    background-color: #d35400;
}

.card-custom {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.card-custom .title {
    color: #e74c3c;
    font-size: 16px;
    font-weight: bold;
}
.card-custom .value {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: start;
}
.card-custom .icon {
    font-size: 24px;
    color: #333;
}

.user-table {
    margin-top: 20px;
}

.user-table table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.user-table table th,
.user-table table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: aliceblue;
}

.user-table table th {
    background-color: transparent;
    color:#e74c3c
}

.user-table .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.user-table .pagination .page-item {
    margin: 0 5px;
}

.user-table .pagination .page-item a {
    color: #e74c3c;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
}

.user-table .pagination .page-item a:hover {
    background-color: #e74c3c;
    color: white;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-header{
    background-color: #e74c3c;
    color: white;

}

.modal-header .btn-close{
    color: white;
}